In [2]:
import pandas as pd 
import numpy as np 

client_cancel = pd.read_csv('./Client Cancellations0.csv')
future_book = pd.read_csv('./Future Bookings (All Clients)0.csv')
hair_salon = pd.read_csv('./hair_salon_no_show_wrangled_df.csv')
product_listing= pd.read_csv('./Product Listing (Retail)0.csv')
no_show = pd.read_csv('./No-Show Report0.csv')
receipt_transaction = pd.read_csv('./Receipt Transactions0.csv')
service_listing = pd.read_csv('./Service Listing0.csv')

##  DATA CLEANING

In [8]:
# Data Cleaning 

print(client_cancel.isna().any())
print('\n')
print(future_book.isna().any())
print('\n')
print(hair_salon.isna().any())
print('\n')
print(no_show.isna().any())
print('\n')
print(receipt_transaction.isna().any())
print('\n')
print(service_listing.isna().any())

Cancel Date     False
Code            False
Service         False
Staff           False
Booking Date    False
Canceled By     False
Days             True
dtype: bool


Code        True
Staff      False
Service    False
Date       False
Time       False
TimeInt    False
dtype: bool


Unnamed: 0           False
book_tod              True
book_dow             False
book_category        False
book_staff           False
last_category         True
last_staff            True
last_day_services    False
last_receipt_tot     False
last_dow              True
last_tod              True
last_noshow          False
last_prod_flag       False
last_cumrev          False
last_cumbook         False
last_cumstyle        False
last_cumcolor        False
last_cumprod         False
last_cumcancel       False
last_cumnoshow       False
noshow               False
recency              False
dtype: bool


Date       False
Code        True
Service    False
Staff      False
dtype: bool


Receipt        False
Date           False
Description     True
Client         False
Staff          False
Quantity       False
Amount         False
GST            False
PST            False
dtype: bool


IsActive    False
Code        False
Desc         True
Cate        False
Price       False
Cost        False
dtype: bool

#### Dropping missing values for each Data Table

In [142]:
# CLIENT CANCELLATION TABLE 
client_cancel = client_cancel.dropna()
client_cancel

    Cancel Date    Code Service   Staff Booking Date Canceled By  Days
0    05/22/2018  MASA01     CFC  JOANNE   05/24/2018       ADMIN   2.0
1    06/27/2018  MASA01    CBAL   KELLY   06/27/2018       ADMIN   0.0
2    07/03/2018  MASA01    SHCM   BECKY   07/10/2018       BECKY   7.0
3    07/10/2018  MASA01    SHCC      JJ   07/11/2018       KELLY   1.0
4    07/24/2018  TRUA01    SHCM   KELLY   07/24/2018       TANYA   0.0
..          ...     ...     ...     ...          ...         ...   ...
238  05/06/2018  ROUT01     SBD      JJ   05/06/2018          JJ   0.0
239  06/07/2018  ALCV01     CFC   KELLY   06/07/2018       KELLY   0.0
240  06/26/2018  FISV01     CFC  JOANNE   06/30/2018          JJ   4.0
241  05/04/2018  MCGV01     SBD   BECKY   05/04/2018          JJ   0.0
242  05/18/2018  MIRY01    CDPB  JOANNE   05/19/2018      JOANNE   1.0

[241 rows x 7 columns]

In [42]:
# FUTURE BOOKING TABLE
print(future_book.isna().sum())
print(future_book.head())

Code       1
Staff      0
Service    0
Date       0
Time       0
TimeInt    0
dtype: int64
     Code Staff Service        Date         Time  TimeInt
0  JUNJ01    JJ     CON  03/14/2018   3:50:00 PM      950
1  NORJ01    JJ    SHCM  03/14/2018   4:00:00 PM      960
2  CORS01    JJ    SHCW  03/15/2018   2:10:00 PM      850
3  KERT01    JJ    SHCW  03/15/2018  10:00:00 AM      600
4  LEHJ01    JJ    SHCM  03/15/2018   6:00:00 PM     1080

In [144]:
# Checking if null values exist  
future_book = future_book.dropna()
future_book.isna().sum()

Code       0
Staff      0
Service    0
Date       0
Time       0
TimeInt    0
dtype: int64

In [251]:
# HAIR SALAON TABLE
print(hair_salon.isna().sum())
print(hair_salon.shape)
print('\n')
hair_salon[['last_category','last_staff']].head(30)

print(hair_salon['last_staff'].value_counts())
print('\n')
print(hair_salon['last_staff'].unique())

hair_salon['last_staff'].isna().sum()

hair_salon.columns

Unnamed: 0              0
book_tod              235
book_dow                0
book_category           0
book_staff              0
last_category         949
last_staff            949
last_day_services       0
last_receipt_tot        0
last_dow              949
last_tod             1094
last_noshow             0
last_prod_flag          0
last_cumrev             0
last_cumbook            0
last_cumstyle           0
last_cumcolor           0
last_cumprod            0
last_cumcancel          0
last_cumnoshow          0
noshow                  0
recency                 0
dtype: int64
(1952, 22)


last_staff
JJ        355
BECKY     228
JOANNE    169
SINEAD    134
KELLY      97
HOUSE      16
TANYA       4
Name: count, dtype: int64


[nan 'JOANNE' 'KELLY' 'BECKY' 'HOUSE' 'JJ' 'SINEAD' 'TANYA']

Index(['Unnamed: 0', 'book_tod', 'book_dow', 'book_category', 'book_staff',
       'last_category', 'last_staff', 'last_day_services', 'last_receipt_tot',
       'last_dow', 'last_tod', 'last_noshow', 'last_prod_flag', 'last_cumrev',
       'last_cumbook', 'last_cumstyle', 'last_cumcolor', 'last_cumprod',
       'last_cumcancel', 'last_cumnoshow', 'noshow', 'recency'],
      dtype='object')

There are a significant amount of missing values in the dataset above. Will need to either remove or impute values

UPDATED FINDINGS: THE REASON FOR THE 949 MISSING RECORDS IS BECAUSE FOR THESE CLIENTS, THIS WAS THEIR FIRST TIME COMING INTO THE STORE. WHICH IS WHY THERE ARE NULL VALUES

In [62]:
print(1094/1952)
print(235/1952)
print(949/1952)

0.5604508196721312
0.12038934426229508
0.48616803278688525

In [146]:
# Dropping Missing values for NO shows 
no_show = no_show.dropna()
print(no_show.shape)
no_show.head()

(59, 4)

         Date    Code Service   Staff
1  07/27/2018  AMAB01    SHCM   KELLY
2  06/07/2018  APPS01     SBD   KELLY
3  06/05/2018  ASIS01    SHCW   KELLY
4  05/31/2018  BISD01     CON  SINEAD
5  06/05/2018  BISS01    SHCW   BECKY

In [253]:
# Dropping missing value for receipt transaction
print(receipt_transaction.isna().any())
receipt_transaction = receipt_transaction.dropna()
receipt_transaction.isna().sum()
receipt_transaction.head()

Receipt        False
Date           False
Description    False
Client         False
Staff          False
Quantity       False
Amount         False
GST            False
PST            False
dtype: bool

,Receipt,Date,Description,Client,Staff,Quantity,Amount,GST,PST
0,10,03/15/2018,Women's hair cut,KERT01,JJ,1,82.0,4.10,6.56
1,100,04/05/2018,Women's hair cut,COOM01,SINEAD,1,70.0,3.50,5.60
2,1000,06/09/2018,Consultation,PEDM01,JJ,1,0.0,0.00,0.00
3,1001,06/09/2018,Women's hair cut,BAIS01,KELLY,1,55.0,2.75,4.40
4,1003,06/09/2018,Women's hair cut,FRAL01,KELLY,1,65.0,3.25,5.20

In [152]:
print(service_listing.isna().any())

service_listing = service_listing.dropna()
service_listing.isna().sum()
service_listing.head()

IsActive    False
Code        False
Desc        False
Cate        False
Price       False
Cost        False
dtype: bool

   IsActive   Code                      Desc   Cate  Price  Cost
0      True    CAL             accent lights  COLOR      0    10
1      True   CALC   Accent lights and color  COLOR      0    10
2      True    CAS  Color additional service  COLOR      0    10
3      True   CBAL                  Balayage  COLOR      0    10
4      True  CCAMO          Men's camo color  COLOR     45     5

In [179]:

print(list(hair_salon.columns))
print('\n')
print(list(service_listing.columns))
print('\n')
print(list(client_cancel.columns))
print('\n')
print(list(future_book.columns))
print('\n')
print(list(receipt_transaction.columns))
print('\n')
print(list(no_show.columns))
print('\n')
print(list(product_listing.columns))

['Unnamed: 0', 'book_tod', 'book_dow', 'book_category', 'book_staff', 'last_category', 'last_staff', 'last_day_services', 'last_receipt_tot', 'last_dow', 'last_tod', 'last_noshow', 'last_prod_flag', 'last_cumrev', 'last_cumbook', 'last_cumstyle', 'last_cumcolor', 'last_cumprod', 'last_cumcancel', 'last_cumnoshow', 'noshow', 'recency']


['IsActive', 'Code', 'Desc', 'Cate', 'Price', 'Cost']


['Cancel Date', 'Code', 'Service', 'Staff', 'Booking Date', 'Canceled By', 'Days']


['Code', 'Staff', 'Service', 'Date', 'Time', 'TimeInt']


['Receipt', 'Date', 'Description', 'Client', 'Staff', 'Quantity', 'Amount', 'GST', 'PST']


['Date', 'Code', 'Service', 'Staff']


['IsActive', 'Code', 'Description', 'Supplier', 'Brand', 'Category', 'Price', 'On Hand', 'Minimum', 'Maximum', 'Cost', 'COG', 'YTD', 'Package']

# Going to clean and process the other data types first

In [191]:
print('Service Listing')
print(service_listing.head())
print('\n')
print('Client Cancel')
print(client_cancel.head())
print('\n')
print('future booking')
print(future_book.head())
print('\n')
print('reciept transaction')
print(receipt_transaction.head())
print('\n')
print('no shows')
print(no_show.head())
print('\n')
print('product listing')
print(product_listing.head())

Service Listing
   IsActive   Code                      Desc   Cate  Price  Cost
0      True    CAL             accent lights  COLOR      0    10
1      True   CALC   Accent lights and color  COLOR      0    10
2      True    CAS  Color additional service  COLOR      0    10
3      True   CBAL                  Balayage  COLOR      0    10
4      True  CCAMO          Men's camo color  COLOR     45     5


Client Cancel
  Cancel Date    Code Service   Staff Booking Date Canceled By  Days
0  05/22/2018  MASA01     CFC  JOANNE   05/24/2018       ADMIN   2.0
1  06/27/2018  MASA01    CBAL   KELLY   06/27/2018       ADMIN   0.0
2  07/03/2018  MASA01    SHCM   BECKY   07/10/2018       BECKY   7.0
3  07/10/2018  MASA01    SHCC      JJ   07/11/2018       KELLY   1.0
4  07/24/2018  TRUA01    SHCM   KELLY   07/24/2018       TANYA   0.0


future booking
     Code Staff Service        Date         Time  TimeInt
0  JUNJ01    JJ     CON  03/14/2018   3:50:00 PM      950
1  NORJ01    JJ    SHCM  03/14/2018   4:00:00 PM      960
2  CORS01    JJ    SHCW  03/15/2018   2:10:00 PM      850
3  KERT01    JJ    SHCW  03/15/2018  10:00:00 AM      600
4  LEHJ01    JJ    SHCM  03/15/2018   6:00:00 PM     1080


reciept transaction
   Receipt        Date       Description  Client   Staff  Quantity  Amount  \
0       10  03/15/2018  Women's hair cut  KERT01      JJ         1    82.0
1      100  04/05/2018  Women's hair cut  COOM01  SINEAD         1    70.0
2     1000  06/09/2018      Consultation  PEDM01      JJ         1     0.0
3     1001  06/09/2018  Women's hair cut  BAIS01   KELLY         1    55.0
4     1003  06/09/2018  Women's hair cut  FRAL01   KELLY         1    65.0

    GST   PST
0  4.10  6.56
1  3.50  5.60
2  0.00  0.00
3  2.75  4.40
4  3.25  5.20


no shows
         Date    Code Service   Staff
1  07/27/2018  AMAB01    SHCM   KELLY
2  06/07/2018  APPS01     SBD   KELLY
3  06/05/2018  ASIS01    SHCW   KELLY
4  05/31/2018  BISD01     CON  SINEAD
5  06/05/2018  BISS01    SHCW   BECKY


product listing
   IsActive           Code       Description Supplier Brand Category  Price  \
0      True  AGBALANCE335M  AG balance 355ml    VENUS    AG   RETAIL   30.0
1      True   AGBOOST355ML    AG Boost 355ml    VENUS    AG   RETAIL   30.0
2      True   AGCLOUD107ML    AG Cloud 107ml    VENUS    AG   RETAIL   26.0
3      True  AGDRYLIFT44ML  AG Dry Lift 44ml    VENUS    AG   RETAIL   24.0
4      True  AGREMEDY148ML   AG Remedy 148ml    VENUS    AG   RETAIL   26.0

   On Hand  Minimum  Maximum  Cost   COG   YTD  Package
0        2        2        2   0.0   0.0  27.0    False
1        3        2        2  18.0  54.0   0.0    False
2        4        2        2  15.6  62.4  23.4    False
3        1        2        2  14.4  14.4  43.2    False
4        3        2        2  15.6  46.8   0.0    False

In [217]:
print(client_cancel['Staff'].unique())
print(future_book['Staff'].unique())
# who is House? 
print(receipt_transaction['Staff'].unique())
print(no_show['Staff'].unique())
print(hair_salon['book_staff'].unique())
print(hair_salon['last_staff'].unique())

['JOANNE' 'KELLY' 'BECKY' 'JJ' 'SINEAD' 'TANYA']
['JJ' 'HOUSE' 'SINEAD' 'BECKY' 'KELLY' 'JOANNE' 'TANYA']
['JJ' 'SINEAD' 'KELLY' 'JOANNE' 'BECKY' 'HOUSE' 'TANYA']
['KELLY' 'SINEAD' 'BECKY' 'JOANNE' 'JJ' 'HOUSE']
['JJ' 'JOANNE' 'KELLY' 'BECKY' 'HOUSE' 'SINEAD' 'TANYA']
[nan 'JOANNE' 'KELLY' 'BECKY' 'HOUSE' 'JJ' 'SINEAD' 'TANYA']

## Cleaning Hair Salon Dataset

In [256]:
hair_salon.dtypes

Unnamed: 0             int64
book_tod              object
book_dow              object
book_category         object
book_staff            object
last_category         object
last_staff            object
last_day_services      int64
last_receipt_tot     float64
last_dow              object
last_tod              object
last_noshow            int64
last_prod_flag         int64
last_cumrev            int64
last_cumbook           int64
last_cumstyle          int64
last_cumcolor          int64
last_cumprod           int64
last_cumcancel         int64
last_cumnoshow         int64
noshow                 int64
recency                int64
dtype: object

In [276]:
hair_salon.head(10)

,Unnamed: 0,book_tod,book_dow,book_category,book_staff,last_category,last_staff,last_day_services,last_receipt_tot,last_dow,...,last_prod_flag,last_cumrev,last_cumbook,last_cumstyle,last_cumcolor,last_cumprod,last_cumcancel,last_cumnoshow,noshow,recency
0,0,afternoon,Wednesday,STYLE,JJ,NaN,NaN,0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
1,1,morning,Wednesday,COLOR,JOANNE,NaN,NaN,0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
2,2,NaN,Wednesday,STYLE,JJ,COLOR,JOANNE,2,262.0,Wednesday,...,1,262,2,1,1,2,0,0,0,35
3,3,afternoon,Thursday,STYLE,KELLY,NaN,NaN,0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
4,4,evening,Saturday,STYLE,KELLY,STYLE,KELLY,1,35.0,Thursday,...,0,35,1,1,0,0,0,0,0,9
5,5,afternoon,Saturday,STYLE,KELLY,STYLE,KELLY,1,55.0,Saturday,...,0,90,2,2,0,0,0,0,0,14
6,6,afternoon,Saturday,STYLE,KELLY,STYLE,KELLY,1,35.0,Saturday,...,0,145,3,3,0,0,0,0,0,14
7,7,NaN,Saturday,STYLE,KELLY,STYLE,KELLY,1,35.0,Saturday,...,0,145,3,3,0,0,0,0,0,14
8,8,evening,Thursday,STYLE,BECKY,NaN,NaN,0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
9,9,afternoon,Friday,STYLE,BECKY,STYLE,BECKY,1,76.0,Thursday,...,1,30,1,1,0,1,0,0,0,36

In [258]:
hair_salon.select_dtypes('object')

,book_tod,book_dow,book_category,book_staff,last_category,last_staff,last_dow,last_tod
0,afternoon,Wednesday,STYLE,JJ,NaN,NaN,NaN,NaN
1,morning,Wednesday,COLOR,JOANNE,NaN,NaN,NaN,NaN
2,NaN,Wednesday,STYLE,JJ,COLOR,JOANNE,Wednesday,morning
3,afternoon,Thursday,STYLE,KELLY,NaN,NaN,NaN,NaN
4,evening,Saturday,STYLE,KELLY,STYLE,KELLY,Thursday,afternoon
...,...,...,...,...,...,...,...,...
1947,afternoon,Thursday,STYLE,BECKY,NaN,NaN,NaN,NaN
1948,afternoon,Tuesday,STYLE,BECKY,STYLE,BECKY,Thursday,afternoon
1949,NaN,Tuesday,STYLE,BECKY,STYLE,BECKY,Thursday,afternoon
1950,afternoon,Tuesday,STYLE,BECKY,STYLE,BECKY,Tuesday,NaN
1951,NaN,Tuesday,STYLE,BECKY,STYLE,BECKY,Tuesday,NaN

In [288]:
# Backforward & Forward fill for book_tod column 
hair_salon['book_tod'] = hair_salon['book_tod'].bfill()
hair_salon['book_tod'] =  hair_salon['book_tod'].ffill()
hair_salon.head()

,Unnamed: 0,book_tod,book_dow,book_category,book_staff,last_category,last_staff,last_day_services,last_receipt_tot,last_dow,...,last_prod_flag,last_cumrev,last_cumbook,last_cumstyle,last_cumcolor,last_cumprod,last_cumcancel,last_cumnoshow,noshow,recency
0,0,afternoon,Wednesday,STYLE,JJ,NaN,NaN,0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
1,1,morning,Wednesday,COLOR,JOANNE,NaN,NaN,0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
2,2,afternoon,Wednesday,STYLE,JJ,COLOR,JOANNE,2,262.0,Wednesday,...,1,262,2,1,1,2,0,0,0,35
3,3,afternoon,Thursday,STYLE,KELLY,NaN,NaN,0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
4,4,evening,Saturday,STYLE,KELLY,STYLE,KELLY,1,35.0,Thursday,...,0,35,1,1,0,0,0,0,0,9

In [302]:
# Backforward & Forward fill for last_category column 
hair_salon['last_category'] = hair_salon['last_category'].bfill()
hair_salon['last_category'] =  hair_salon['last_category'].ffill()
hair_salon.head()

,Unnamed: 0,book_tod,book_dow,book_category,book_staff,last_category,last_staff,last_day_services,last_receipt_tot,last_dow,...,last_prod_flag,last_cumrev,last_cumbook,last_cumstyle,last_cumcolor,last_cumprod,last_cumcancel,last_cumnoshow,noshow,recency
0,0,afternoon,Wednesday,STYLE,JJ,COLOR,NaN,0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
1,1,morning,Wednesday,COLOR,JOANNE,COLOR,NaN,0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
2,2,afternoon,Wednesday,STYLE,JJ,COLOR,JOANNE,2,262.0,Wednesday,...,1,262,2,1,1,2,0,0,0,35
3,3,afternoon,Thursday,STYLE,KELLY,STYLE,NaN,0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
4,4,evening,Saturday,STYLE,KELLY,STYLE,KELLY,1,35.0,Thursday,...,0,35,1,1,0,0,0,0,0,9

In [ ]:
hair_salon[hair_salon['']]

In [312]:
hair_salon.isna().sum()

Unnamed: 0              0
book_tod                0
book_dow                0
book_category           0
book_staff              0
last_category           0
last_staff            949
last_day_services       0
last_receipt_tot        0
last_dow              949
last_tod             1094
last_noshow             0
last_prod_flag          0
last_cumrev             0
last_cumbook            0
last_cumstyle           0
last_cumcolor           0
last_cumprod            0
last_cumcancel          0
last_cumnoshow          0
noshow                  0
recency                 0
dtype: int64

In [304]:
hair_salon.head()

,Unnamed: 0,book_tod,book_dow,book_category,book_staff,last_category,last_staff,last_day_services,last_receipt_tot,last_dow,...,last_prod_flag,last_cumrev,last_cumbook,last_cumstyle,last_cumcolor,last_cumprod,last_cumcancel,last_cumnoshow,noshow,recency
0,0,afternoon,Wednesday,STYLE,JJ,COLOR,NaN,0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
1,1,morning,Wednesday,COLOR,JOANNE,COLOR,NaN,0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
2,2,afternoon,Wednesday,STYLE,JJ,COLOR,JOANNE,2,262.0,Wednesday,...,1,262,2,1,1,2,0,0,0,35
3,3,afternoon,Thursday,STYLE,KELLY,STYLE,NaN,0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
4,4,evening,Saturday,STYLE,KELLY,STYLE,KELLY,1,35.0,Thursday,...,0,35,1,1,0,0,0,0,0,9

In [334]:
hair_salon[hair_salon.isna().any(axis=1)]

,Unnamed: 0,book_tod,book_dow,book_category,book_staff,last_category,last_staff,last_day_services,last_receipt_tot,last_dow,...,last_prod_flag,last_cumrev,last_cumbook,last_cumstyle,last_cumcolor,last_cumprod,last_cumcancel,last_cumnoshow,noshow,recency
0,0,afternoon,Wednesday,STYLE,JJ,COLOR,NaN,0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
1,1,morning,Wednesday,COLOR,JOANNE,COLOR,NaN,0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
3,3,afternoon,Thursday,STYLE,KELLY,STYLE,NaN,0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
8,8,evening,Thursday,STYLE,BECKY,STYLE,NaN,0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
11,11,evening,Tuesday,STYLE,BECKY,STYLE,KELLY,0,0.0,Saturday,...,0,80,3,3,0,2,1,1,0,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1942,1942,afternoon,Friday,STYLE,BECKY,STYLE,NaN,0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
1946,1946,evening,Wednesday,STYLE,SINEAD,STYLE,NaN,0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
1947,1947,afternoon,Thursday,STYLE,BECKY,STYLE,NaN,0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
1950,1950,afternoon,Tuesday,STYLE,BECKY,STYLE,BECKY,1,50.0,Tuesday,...,0,130,3,3,0,0,1,0,0,28
1951,1951,afternoon,Tuesday,STYLE,BECKY,STYLE,BECKY,1,50.0,Tuesday,...,0,130,3,3,0,0,1,0,0,28

In [360]:
hair_salon[hair_salon[['last_staff', 'last_dow', 'last_tod']].isna().any(axis=1)]
hair_salon[['last_staff', 'last_dow', 'last_tod']]

     last_staff   last_dow   last_tod
0           NaN        NaN        NaN
1           NaN        NaN        NaN
2        JOANNE  Wednesday    morning
3           NaN        NaN        NaN
4         KELLY   Thursday  afternoon
...         ...        ...        ...
1947        NaN        NaN        NaN
1948      BECKY   Thursday  afternoon
1949      BECKY   Thursday  afternoon
1950      BECKY    Tuesday        NaN
1951      BECKY    Tuesday        NaN

[1952 rows x 3 columns]

In [242]:
# Can put Nan values as another value, to signify it was their first time

In [366]:
hair_salon[['book_staff','last_staff']]

     book_staff last_staff
0            JJ        NaN
1        JOANNE        NaN
2            JJ     JOANNE
3         KELLY        NaN
4         KELLY      KELLY
...         ...        ...
1947      BECKY        NaN
1948      BECKY      BECKY
1949      BECKY      BECKY
1950      BECKY      BECKY
1951      BECKY      BECKY

[1952 rows x 2 columns]

In [370]:
hair_salon[['book_staff','last_staff']].where(hair_salon['book_staff']==hair_salon['last_staff'] & NUll= False)

     book_staff last_staff
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4         KELLY      KELLY
...         ...        ...
1947        NaN        NaN
1948      BECKY      BECKY
1949      BECKY      BECKY
1950      BECKY      BECKY
1951      BECKY      BECKY

[1952 rows x 2 columns]

In [374]:
print(hair_salon[hair_salon['book_staff'] == hair_salon['last_staff']][['book_staff','last_staff']])
print('there are 638 results where book staff is same as last staff')

     book_staff last_staff
4         KELLY      KELLY
5         KELLY      KELLY
6         KELLY      KELLY
7         KELLY      KELLY
9         BECKY      BECKY
...         ...        ...
1945         JJ         JJ
1948      BECKY      BECKY
1949      BECKY      BECKY
1950      BECKY      BECKY
1951      BECKY      BECKY

[638 rows x 2 columns]
there are 638 results where book staff is same as last staff

In [378]:
hair_salon[hair_salon['book_staff'] != hair_salon['last_staff']][['book_staff','last_staff']]

     book_staff last_staff
0            JJ        NaN
1        JOANNE        NaN
2            JJ     JOANNE
3         KELLY        NaN
8         BECKY        NaN
...         ...        ...
1941         JJ        NaN
1942      BECKY        NaN
1943         JJ      BECKY
1946     SINEAD        NaN
1947      BECKY        NaN

[1314 rows x 2 columns]

In [384]:
print(hair_salon.dropna(subset=['book_staff', 'last_staff'])[
    hair_salon['book_staff'] != hair_salon['last_staff']
][['book_staff', 'last_staff']])

print('There are 365 records where book_staff and last_staff are different with no Nan values')

     book_staff last_staff
2            JJ     JOANNE
10        KELLY      BECKY
11        BECKY      KELLY
17           JJ      HOUSE
55        KELLY         JJ
...         ...        ...
1914         JJ     JOANNE
1918      BECKY     SINEAD
1922     JOANNE         JJ
1938     JOANNE     SINEAD
1943         JJ      BECKY

[365 rows x 2 columns]
There are 365 records where book_staff and last_staff are different with no Nan values

/var/folders/t4/plfsv80s1_32zcrl30pvj2kh0000gn/T/ipykernel_21263/3755354999.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(hair_salon.dropna(subset=['book_staff', 'last_staff'])[

In [386]:
365+638

1003

In [388]:
1003/1952

0.5138319672131147

In [392]:
# Going to copy Hair salon 
hair_salon2 = hair_salon.copy()

In [396]:
hair_salon2.dropna(subset=['book_staff', 'last_staff'])[
    hair_salon2['book_staff'] != hair_salon2['last_staff'] 
][['book_staff', 'last_staff']]

/var/folders/t4/plfsv80s1_32zcrl30pvj2kh0000gn/T/ipykernel_21263/2250012216.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  hair_salon2.dropna(subset=['book_staff', 'last_staff'])[

     book_staff last_staff
2            JJ     JOANNE
10        KELLY      BECKY
11        BECKY      KELLY
17           JJ      HOUSE
55        KELLY         JJ
...         ...        ...
1914         JJ     JOANNE
1918      BECKY     SINEAD
1922     JOANNE         JJ
1938     JOANNE     SINEAD
1943         JJ      BECKY

[365 rows x 2 columns]

In [404]:
hair_salon2.dropna(subset=['book_staff', 'last_staff'])[['book_staff', 'last_staff']]

     book_staff last_staff
2            JJ     JOANNE
4         KELLY      KELLY
5         KELLY      KELLY
6         KELLY      KELLY
7         KELLY      KELLY
...         ...        ...
1945         JJ         JJ
1948      BECKY      BECKY
1949      BECKY      BECKY
1950      BECKY      BECKY
1951      BECKY      BECKY

[1003 rows x 2 columns]

In [406]:
hair_salon2

,Unnamed: 0,book_tod,book_dow,book_category,book_staff,last_category,last_staff,last_day_services,last_receipt_tot,last_dow,...,last_prod_flag,last_cumrev,last_cumbook,last_cumstyle,last_cumcolor,last_cumprod,last_cumcancel,last_cumnoshow,noshow,recency
0,0,afternoon,Wednesday,STYLE,JJ,COLOR,NaN,0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
1,1,morning,Wednesday,COLOR,JOANNE,COLOR,NaN,0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
2,2,afternoon,Wednesday,STYLE,JJ,COLOR,JOANNE,2,262.0,Wednesday,...,1,262,2,1,1,2,0,0,0,35
3,3,afternoon,Thursday,STYLE,KELLY,STYLE,NaN,0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
4,4,evening,Saturday,STYLE,KELLY,STYLE,KELLY,1,35.0,Thursday,...,0,35,1,1,0,0,0,0,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1947,1947,afternoon,Thursday,STYLE,BECKY,STYLE,NaN,0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,0
1948,1948,afternoon,Tuesday,STYLE,BECKY,STYLE,BECKY,1,30.0,Thursday,...,0,30,1,1,0,0,0,0,0,40
1949,1949,afternoon,Tuesday,STYLE,BECKY,STYLE,BECKY,1,30.0,Thursday,...,0,30,1,1,0,0,0,0,0,40
1950,1950,afternoon,Tuesday,STYLE,BECKY,STYLE,BECKY,1,50.0,Tuesday,...,0,130,3,3,0,0,1,0,0,28
1951,1951,afternoon,Tuesday,STYLE,BECKY,STYLE,BECKY,1,50.0,Tuesday,...,0,130,3,3,0,0,1,0,0,28

In [408]:
# Dropped missing values 
hair_salon2 = hair_salon2.dropna(subset=['book_staff', 'last_staff'])
hair_salon2

,Unnamed: 0,book_tod,book_dow,book_category,book_staff,last_category,last_staff,last_day_services,last_receipt_tot,last_dow,...,last_prod_flag,last_cumrev,last_cumbook,last_cumstyle,last_cumcolor,last_cumprod,last_cumcancel,last_cumnoshow,noshow,recency
2,2,afternoon,Wednesday,STYLE,JJ,COLOR,JOANNE,2,262.0,Wednesday,...,1,262,2,1,1,2,0,0,0,35
4,4,evening,Saturday,STYLE,KELLY,STYLE,KELLY,1,35.0,Thursday,...,0,35,1,1,0,0,0,0,0,9
5,5,afternoon,Saturday,STYLE,KELLY,STYLE,KELLY,1,55.0,Saturday,...,0,90,2,2,0,0,0,0,0,14
6,6,afternoon,Saturday,STYLE,KELLY,STYLE,KELLY,1,35.0,Saturday,...,0,145,3,3,0,0,0,0,0,14
7,7,evening,Saturday,STYLE,KELLY,STYLE,KELLY,1,35.0,Saturday,...,0,145,3,3,0,0,0,0,0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1945,1945,morning,Friday,MISC,JJ,STYLE,JJ,1,60.0,Thursday,...,0,150,3,3,0,0,0,0,0,15
1948,1948,afternoon,Tuesday,STYLE,BECKY,STYLE,BECKY,1,30.0,Thursday,...,0,30,1,1,0,0,0,0,0,40
1949,1949,afternoon,Tuesday,STYLE,BECKY,STYLE,BECKY,1,30.0,Thursday,...,0,30,1,1,0,0,0,0,0,40
1950,1950,afternoon,Tuesday,STYLE,BECKY,STYLE,BECKY,1,50.0,Tuesday,...,0,130,3,3,0,0,1,0,0,28
1951,1951,afternoon,Tuesday,STYLE,BECKY,STYLE,BECKY,1,50.0,Tuesday,...,0,130,3,3,0,0,1,0,0,28

In [410]:
print("With above query, the values were dropped, however significant amount of rows were dropped!")

With above query, the values were dropped, however significant amount of rows were dropped!

2         morning
4       afternoon
5         evening
6       afternoon
7       afternoon
          ...
1945    afternoon
1948    afternoon
1949    afternoon
1950          NaN
1951          NaN
Name: last_tod, Length: 1003, dtype: object