In [2]:
import pandas as pd 
import numpy as np 

client_cancel = pd.read_csv('./Client Cancellations0.csv')
future_book = pd.read_csv('./Future Bookings (All Clients)0.csv')
hair_salon = pd.read_csv('./hair_salon_no_show_wrangled_df.csv')
product_listing= pd.read_csv('./Product Listing (Retail)0.csv')
no_show = pd.read_csv('./No-Show Report0.csv')
receipt_transaction = pd.read_csv('./Receipt Transactions0.csv')
service_listing = pd.read_csv('./Service Listing0.csv')

In [8]:
# Data Cleaning 

print(client_cancel.isna().any())
print('\n')
print(future_book.isna().any())
print('\n')
print(hair_salon.isna().any())
print('\n')
print(no_show.isna().any())
print('\n')
print(receipt_transaction.isna().any())
print('\n')
print(service_listing.isna().any())

Cancel Date     False
Code            False
Service         False
Staff           False
Booking Date    False
Canceled By     False
Days             True
dtype: bool


Code        True
Staff      False
Service    False
Date       False
Time       False
TimeInt    False
dtype: bool


Unnamed: 0           False
book_tod              True
book_dow             False
book_category        False
book_staff           False
last_category         True
last_staff            True
last_day_services    False
last_receipt_tot     False
last_dow              True
last_tod              True
last_noshow          False
last_prod_flag       False
last_cumrev          False
last_cumbook         False
last_cumstyle        False
last_cumcolor        False
last_cumprod         False
last_cumcancel       False
last_cumnoshow       False
noshow               False
recency              False
dtype: bool


Date       False
Code        True
Service    False
Staff      False
dtype: bool


Receipt        False
Date           False
Description     True
Client         False
Staff          False
Quantity       False
Amount         False
GST            False
PST            False
dtype: bool


IsActive    False
Code        False
Desc         True
Cate        False
Price       False
Cost        False
dtype: bool

In [46]:
# Dropping missing values for each Data Table

In [26]:
# CLIENT CANCELLATION TABLE 
client_cancel2 = client_cancel.copy()

client_cancel2 = client_cancel2.dropna()
client_cancel2

    Cancel Date    Code Service   Staff Booking Date Canceled By  Days
0    05/22/2018  MASA01     CFC  JOANNE   05/24/2018       ADMIN   2.0
1    06/27/2018  MASA01    CBAL   KELLY   06/27/2018       ADMIN   0.0
2    07/03/2018  MASA01    SHCM   BECKY   07/10/2018       BECKY   7.0
3    07/10/2018  MASA01    SHCC      JJ   07/11/2018       KELLY   1.0
4    07/24/2018  TRUA01    SHCM   KELLY   07/24/2018       TANYA   0.0
..          ...     ...     ...     ...          ...         ...   ...
238  05/06/2018  ROUT01     SBD      JJ   05/06/2018          JJ   0.0
239  06/07/2018  ALCV01     CFC   KELLY   06/07/2018       KELLY   0.0
240  06/26/2018  FISV01     CFC  JOANNE   06/30/2018          JJ   4.0
241  05/04/2018  MCGV01     SBD   BECKY   05/04/2018          JJ   0.0
242  05/18/2018  MIRY01    CDPB  JOANNE   05/19/2018      JOANNE   1.0

[241 rows x 7 columns]

In [30]:
# Checking If any Null values exists
client_cancel2.isna().any()

Cancel Date     False
Code            False
Service         False
Staff           False
Booking Date    False
Canceled By     False
Days            False
dtype: bool

In [42]:
# FUTURE BOOKING TABLE
print(future_book.isna().sum())
print(future_book.head())

Code       1
Staff      0
Service    0
Date       0
Time       0
TimeInt    0
dtype: int64
     Code Staff Service        Date         Time  TimeInt
0  JUNJ01    JJ     CON  03/14/2018   3:50:00 PM      950
1  NORJ01    JJ    SHCM  03/14/2018   4:00:00 PM      960
2  CORS01    JJ    SHCW  03/15/2018   2:10:00 PM      850
3  KERT01    JJ    SHCW  03/15/2018  10:00:00 AM      600
4  LEHJ01    JJ    SHCM  03/15/2018   6:00:00 PM     1080

In [44]:
# Checking if null values exist  
future_book2 = future_book.copy()
future_book2 = future_book2.dropna()
future_book2.isna().sum()

Code       0
Staff      0
Service    0
Date       0
Time       0
TimeInt    0
dtype: int64

In [88]:
# HAIR SALAON TABLE
print(hair_salon.isna().sum())
print(hair_salon.shape)
print('\n')
hair_salon[['last_category','last_staff']].head(30)

print(hair_salon['last_staff'].value_counts())
print('\n')
print(hair_salon['last_staff'].unique())

hair_salon['last_staff'].isna().sum()

# hair_salon[['book_tod','last_category','last_staff', 'last_dow', 'last_tod']]

Unnamed: 0              0
book_tod              235
book_dow                0
book_category           0
book_staff              0
last_category         949
last_staff            949
last_day_services       0
last_receipt_tot        0
last_dow              949
last_tod             1094
last_noshow             0
last_prod_flag          0
last_cumrev             0
last_cumbook            0
last_cumstyle           0
last_cumcolor           0
last_cumprod            0
last_cumcancel          0
last_cumnoshow          0
noshow                  0
recency                 0
dtype: int64
(1952, 22)


last_staff
JJ        355
BECKY     228
JOANNE    169
SINEAD    134
KELLY      97
HOUSE      16
TANYA       4
Name: count, dtype: int64


[nan 'JOANNE' 'KELLY' 'BECKY' 'HOUSE' 'JJ' 'SINEAD' 'TANYA']

949

In [62]:
print(1094/1952)
print(235/1952)
print(949/1952)

0.5604508196721312
0.12038934426229508
0.48616803278688525

In [96]:
print(no_show.isna().any())
print(no_show.shape)

no_show2 = no_show.copy()
no_show2 = no_show2.dropna()

print(no_show2.shape)

Date       False
Code        True
Service    False
Staff      False
dtype: bool
(60, 4)
(59, 4)

In [ ]:
print(receipt_transaction.isna().any())

In [ ]:
print(service_listing.isna().any())